<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
		<listener class-name="com.test.listener.MyListener" />
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="com.testall.HomePageTest" />
			<class name="com.testall.WeatherHomePageTest" />
			<class name="com.testall.APITest" />
			<class name="com.testall.TestCompare" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
